.new-server-button{
    border: 1px var(--col-Darker) solid;
    border-radius: 5em;
    margin-top: 1em;
    cursor: pointer;
    background-color: var(--col-Darker);
    color: white;
    padding: .3rem;
    display: flex;
    justify-content: center;
}

.new-server-button div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3em 1em 0.3em 1.5em;
}

.new-server-button div span{
    font-weight:bold ;
    font-size: 1em;
    /* color: white; */
    transition: 
    padding 250ms ease-in-out,
    scale 150ms ease-in-out;
}

.button-data i{
    scale: 1.4;
    transition: transform 250ms ease-in-out,
    scale 150ms ease-in-out;
    margin: .3rem;
}

.new-server-button:hover {
    background-color: rgb(30, 33, 36,.8);
}
.new-server-button:hover .button-data i{
    /* scale: 1.7; */
    /* transform: rotate(-90deg); */
}
.new-server-button:hover .button-data span{
    /* padding-left: 1em; */
    /* scale: 1.12; */
}