h3{
    border: 1px solid rgb(243, 236, 236);
    padding: 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: rgb(224, 220, 220);
}

.dropdown-content {
    display: none;
    background-color:rgb(51, 51, 51,.7);
    color: white;
    transition-delay: 2s;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 8px 10px 8px;
}

.drop-down:hover .dropdown-content {
    display: block;
}