.navbar{
    display: flex;
    /* justify-content: space-between; */
    align-items: center ;
    position: fixed;
    left: 22vw;
    right: 0px;
    background-color: var(--col-Darker);
    color: var(--col-font-white );
    min-height: 10vh;
    padding: 1rem;
    margin: 0px;
    /* margin-bottom: 1000px; */
}
.nav-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggle-button {
    display: flex;
    margin: .5rem;
    flex-direction: column;
}
.toggle-button > .bar{
    width: 2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    height: .3rem;
    background-color: var(--col-font-white );
}
.navbar-links {
    display: inline-block;
    justify-content: flex-end;
}

.navbar-links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


.navbar-links a,.profile-button{
    text-decoration: none;
    color: var(--col-font-white );
    padding: 1rem;
}

.navbar-links a:hover,.profile-button:hover{
    background-color: var(--col-light);
}

@media(max-width : 1220px){
    .nav-title{
        justify-content: flex-start;
    }
    .toggle-button{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .navbar-links{
    }
}
@media(max-width : 500px){
    .nav-title{
        justify-content: flex-start;
    }
    .toggle-button{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .navbar-links{
        flex-direction: column;
    }
}