h3{
    border: 1px solid rgb(243, 236, 236);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(13, 10, 10);
}

.dropdown-content {
    background-color:white;
    display: block;
    color: rgb(13, 10, 10);
    transition-delay: 2s;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 8px 10px 8px;
}

.hide{
    display: none;
} 