.background{
    background-color: rgba(120, 120, 120,.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.background.active{
    display: flex;
}

.form-div{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    border-radius:34px ;
    transition: anim 150ms ease-in-out;
    animation: 1s linear 1 reverse  anim;
}

.form-div.animate{
    animation: 1s linear 1 forwards  anim;
}


@keyframes anim {
    0%{
        opacity: .1;
        scale: .3;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

.meta-data{
    position: relative ;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 2em 0em 2em; 
    padding: 1em 4em 2em 2em; 
    /* margin-bottom: 2em; */
}

.meta-data h4{
    padding: 3em 1em 1em 1em; 
    position: relative;
    right: 0px;
    top: 0px;
    margin: -1.5em 1em .5em .5em ;
}

.create-server-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 3em 3em 3em; 
}

.close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 1em;
    height:2em;
}

.close-btn img{
    display: flex;
    align-items: center;
    width: 1em;
    margin: .05em;
}

.hide{
    display: none;
}

.create-server-form button[type=submit]{
}
.create-server-form input[type=text]{

}