.sidebar{
    display:flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 22vw;
    background-color: var(--col-light);
    padding: 15px;
    overflow-y: visible;
    transition: background-color 550ms ease-in-out;
    color: var(--col-light);
    margin: 0px;
}
.off{
    display: none;
}
.sidebar-wrapper{
    position: relative;
    height: 100vh;
    width: 23.2vw;
    transition: display 250ms ease-in;
}

.toggle-sidebar{
    position: absolute;
    right: 0px;
    top: 45vh;
    /* padding-left:.3rem ; */
    background-color: var(--col-Darker);
    margin: 0px;

}